{% load static %}
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}Mon Site{% endblock %}</title>

		{% if USE_VUE and VUE_BUILD == "esm" %}
			<script type="importmap">
			{
				"imports": {
					"vue": "{% static 'vendor/vue.esm-browser.prod.js' %}"
				}
			}
			</script>
		{% endif %}

		{% block extra_head %}{% endblock %}
	</head>
	<body>
		<header>Mon Site</header>

		<main>
			{% block content %}{% endblock %}
		</main>

		{% block scripts %}{% endblock %}
	</body>
</html>
